<%
    index ? (index < 10) ? yukseklik = "40" + index : yukseklik = "4" + index : yukseklik = 400;
%>
<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="https://source.unsplash.com/user/erondu/600x<%= yukseklik %>" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4"><%= makale.title.rendered %></p>
            </div>
        </div>

        <div class="content">

            <%= index === undefined ? makale.content.rendered : makale.excerpt.rendered.slice(0, 200) %>
            <% if(index){ %> <a href="/blog/<%- makale.id %>">Devamını Oku</a>
            <% } %>
            <br>
            <time><%- Date(makale.date) %></time>
        </div>
    </div>
</div>